.container {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
}
.container > div {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 1rem;
}

.itemA {
  background-color: lightgreen;
  grid-area: 1/3/ 3/4;
}
.itemB {
  background-color: lightcoral;
}
.itemC {
  background-color: lightgoldenrodyellow;
  display: grid;
  grid-template: 50% 50% / 50% 50%;
  gap: 1px 2px;
}
.itemC img {
  width: 100%;
  height: 100%;
}
.itemD {
  background-color: lightblue;
  order: -1;
  /* pasiima vieta nuo [1,1) iki (1,2] */
  grid-area: 1/1 /1/3;
}
.itemD img {
  width: 50%;
  height: auto;
  float: right;
  padding: 1rem;
}
.itemE {
  background-color: lightsalmon;
  grid-area: 3/1 /3/4;
  white-space: nowrap;
  overflow-x: scroll !important;
}
.itemE img {
  width: 20%;
  height: auto;
  padding-top: 3rem;
}

.itemF {
  background-color: aqua;
  display: none;
}
