$body-bg: #d2b48c;
$contents-bg: #d2b47c;

$pamokslas-color: rgb(207, 131, 68);
$highlighter-color: rgb(188, 190, 69);
$links-bg: rgb(165, 108, 42);

$code-bg: #ccc;
$code-color: #333;

$HTML-code-snippet-bg: #bdb2b2;
$HTML-code-snippet-color: black;
$HTML-code-html-tag-color: rgb(79, 79, 204);
