a {
  margin-right: 2em;
  font-size: larger;
  font-weight: 900;
  color: brown;
}

/* kaip padaryti kad margin-right uždėtų, bet tik ne lentelėje */

td a {
  color: blue;
}

td,
th {
  text-align: center;
}

img {
  margin-left: 50%;
  transform: translate(-50%);
  height: 200px;
  padding: 50px 0 50px 0;
}

table {
  margin-left: 50%;
  transform: translate(-50%);
}

h1 {
  text-align: center;
}

.centruotas {
  text-align: center;
}

p {
  margin-left: 1em;
}
