@import "../components/page-settings";
@import "../components/navbar";
@import "../components/footer";

body {
  background-color: $grey-bg;
}

.hat {
  height: 18.5rem;
  background-image: url("../pics/neris.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  h1 {
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 2.25rem;
    font-weight: 700;
    margin-left: calc((100% - $container-width) / 2);
  }
}
main {
  background-color: $grey-bg;
  width: $container-width;
  margin: 0 auto;
  padding: 5rem;
  margin: 3.5rem auto;
  box-shadow: 0px 0px 20px 0px rgba(122, 116, 116, 0.1);
  .wrap-cite {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 2rem;
    @media screen and (max-width: $mid-tablet-scr) {
      flex-wrap: wrap;
    }
    cite {
      color: $dark-grey;
      font-family: Plus Jakarta Sans;
      font-size: 1rem;
      font-weight: 400;
      line-height: 2rem;
      flex: 1 2 auto;
    }
    cite::before {
      display: block;
      content: url("../pics/ri_double-quotes-r.svg");
    }
    .div-img {
      display: block;
      background-image: url("../pics/traveller-w-map.jpeg");
      background-position: center;
      background-size: cover;
      width: 100%;
      min-height: 100%;
      flex: 1 1 auto;
      position: relative;
      @media screen and (max-width: $mid-tablet-scr) {
        height: 20rem;
      }
      .deco-apie {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
.grey-bg {
  background-color: $grey-bg;
  padding-bottom: 7rem;
}
