.slider-card {
  position: relative;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  // align-items: center;
  min-height: $slider-pic-height;
  width: 100%;
  // height: 634px;
  padding: 3rem 0;
  // border: 2px solid grey;
  box-shadow: 0px 0px 20px rgba(122, 116, 116, 0.1);
  // background-color: white;
  background: linear-gradient(
    to right,
    white 0%,
    white 50%,
    #f9f9f9 50%,
    #f9f9f9 100%
  );
  @media screen and (max-width: 1350px) {
    padding: 3rem 0;
    width: 90vw;
    left: -10vw;
    // padding: 5rem 0;
    background: linear-gradient(
      to right,
      white 0%,

      #f9f9f9 100%
    );
  }
  @media screen and (max-width: 770px) {
    padding: 3rem 0;
    width: 98%;
    left: 0;
  }
  .slider-card_text-box {
    margin: 0 auto;
    padding: 0 0.625rem 0 4.625rem;
    // height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 10px solid red;
    // width: calc(100% + 50px);

    @media screen and (max-width: 1350px) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 0;
      margin-bottom: 2rem;
    }

    @media screen and (max-width: 770px) {
      margin-left: 0;
      padding-left: 1rem;
    }
    .category {
      color: #a6a6a6;
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      text-transform: uppercase;
    }
    .about-object {
      h3 {
        color: #4b4b4b;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 136.188%; /* 32.685px */
        text-transform: capitalize;
        // margin-bottom: 1rem;
      }
      // does it wrk?
      .place-marker {
        width: 14px;
        height: 17.769px;
      }
      .place-name {
        color: #666;
        font-family: "Roboto", sans-serif;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 136.188%; /* 19.066px */
      }
      .description {
        margin-top: 20px;
        color: #888;
        font-family: "Roboto", sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 148.188%; /* 20.746px */
        height: 8rem;
        overflow-y: scroll;
        @media screen and (max-width: 1350px) {
          height: 5rem;
        }
        @media screen and (max-width: 770px) {
          height: 5rem;
        }
      }
    }
    .btn-section {
      @media screen and (max-width: 1350px) {
        position: absolute;
        top: 2rem;
        right: 1rem;
        display: block;
      }
      @media screen and (max-width: 770px) {
        display: block;
        transform: scale(0.6);
        top: 1rem;
        right: 0.3rem;
      }

      .btn-wrap {
        border-radius: 1.5rem;
        padding: 2px;
        background: linear-gradient(180deg, #00d4e4 -40.5%, #1f59ee 97.28%);
        width: max-content;
        margin-top: 0.625rem;
        .more-btn {
          padding: 1rem 2rem;
          border-radius: 1.5rem;
          border: transparent;
          background-color: white;
          color: #1f59ee;
          &:hover {
            background: linear-gradient(#00d4e4, white);
          }
          @media screen and (max-width: 1350px) {
            padding: 0.5rem 1rem;
          }
        }
        .map-btn {
          padding: 1rem 2rem;
          border-radius: 1.5rem;
          border: transparent;
          background-color: white;
          color: #1f59ee;
          display: flex;
          align-items: center;
          &:hover {
            background: linear-gradient(#00d4e4, white);
          }
          @media screen and (max-width: 1350px) {
            padding: 0.5rem 1rem;
          }
          svg {
            padding: 1px;
          }
        }
      }
    }
  }

  .slider {
    position: relative;
    justify-self: start;
    width: 110%;
    // border: 5px solid blue;
    // right: -50px;
    // bottom: 50px;
    // top: -20px;
    // border: 1px solid #777;
    // width: 710px;
    // height: $slider-pic-height;
    // background-color: white;
    z-index: 4;

    @media screen and (max-width: 1350px) {
      grid-column: span 2;
      height: 350px;
      width: 90%;
      margin: 0 auto;
    }

    .left-pic {
      display: inline-block;
      position: absolute;
      // left: 0;
      left: 0;
      top: 0;
      // height: $slider-pic-height;
      // width: $slider-pic-width;
      width: 45%;
      min-width: 300px;
      height: 100%;
      object-fit: cover;
      object-position: center;

      border-radius: 15.586px;
      box-shadow: -8px 8px 42px 0px rgba(0, 0, 0, 0.25);

      @media screen and (max-width: 770px) {
        width: 100%;
        min-width: 10vw;
      }
    }
    .right-pic {
      display: inline-block;
      position: absolute;
      // left: calc($slider-pic-width + 70px);
      top: 0;
      right: 0;
      // height: $slider-pic-height;
      // width: $slider-pic-width;
      width: 45%;
      min-width: 300px;
      height: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0.5;
      z-index: 5;
      border-radius: 15.586px;

      @media screen and (max-width: 770px) {
        display: none;
      }
    }

    .reserve-pic {
      display: none;
    }

    .left-control {
      width: 75px;
      height: 9px;
      position: absolute;
      bottom: -3rem;
      left: -50px;
      padding: 1rem;
    }
    .right-control {
      width: 75px;
      height: 9px;
      position: absolute;
      bottom: -3rem;
      left: 67px;
      padding: 1rem;
    }
    .map-outline {
      opacity: 0.4;
      position: absolute;
      top: -100px;
      z-index: -2;
      @media screen and (max-width: 1350px) {
        display: none;
        top: -50%;
        left: 10%;
        z-index: -3;
      }
    }
    // ==============================================
    // ==============================================
    // ==============================================
    //
    //     A
    //    A A
    //   A   A
    //  A     A
    //  AAAAAAAAAAAAAAAAAAAAAAA
    //  A     A
    //  A     A
    //  A     ANIMATIONS:

    @keyframes fading {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
    .make-fade {
      animation-name: fading;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }

    // ------------------------------------------
    // ==============================================

    //   ---------------------------------
    @keyframes appearance {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 0;
      }
      100% {
        opacity: 0.5;
      }
    }
    .make-appear {
      animation-name: appearance;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
    // ---------------------------------------
    // ==============================================

    // -----------------------------------------
    @keyframes moving-left {
      0% {
        opacity: 0.4;
        right: 0;
        // transform: rotate(-2deg);

        background-image: url("./pics/lt-veliava.jpeg");
        background-size: cover;
        padding-right: 5px;
      }
      8% {
        opacity: 0.6;
        left: 40%;

        padding-right: 5px;
      }
      99% {
        padding-right: 1px;
      }
      100% {
        opacity: 1;
        left: 0;
        padding-right: 0;
      }
    }
    .make-left-move {
      animation-name: moving-left;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }

    // -------------------------------------------
    // ==============================================

    // --------------------------------------------
    @keyframes moving-left-from-0 {
      0% {
        left: 0;
      }
      10% {
        left: 0;
      }
      100% {
        left: -200px;
        opacity: 0;
      }
    }
    .make-left-move-from-0 {
      animation-name: moving-left-from-0;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }
    //   ------------------------------------------
    // ==============================================
    //   -----------------------------------------
    @keyframes zero-to-right {
      0% {
        opacity: 1;
        // left: 0;
        // transform: rotate(2deg);

        background-image: url("./pics/lt-veliava.jpeg");
        background-size: cover;
        padding-left: 5px;
      }
      8% {
        opacity: 0.7;
        // right: 30%;
        transform: translate(70%);

        padding-left: 5px;
      }
      99% {
        padding-left: 1px;
      }
      100% {
        opacity: 0.5;
        // right: 0;
        transform: translate(100%);
        padding-left: 0;
      }
    }

    .move-right {
      animation-name: zero-to-right;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }
    // ---------------------------------------
    // ==============================================

    // -----------------------------------------

    @keyframes moving-right-from-right {
      0% {
        opacity: 0.5;
      }
      10% {
        opacity: 0.5;
      }
      100% {
        transform: translate(100%);
        opacity: 0;
      }
    }
    .make-right-move-from-right {
      animation-name: moving-right-from-right;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }
    // ---------------------------------------
    // ==============================================

    // -----------------------------------------
    //--------------------------------------
    //------------------------------------------
    //   ----------------------------------------
  }
}
