@import "../variables";

nav {
  margin: 0 auto;
  width: $container-width;
  height: 4.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  .nav-links {
    display: flex;
    gap: 3rem;

    a {
      text-decoration: none;
      color: #1b6bed;
      font-weight: 600;
    }
  }
  img {
    height: 15px;
  }
  .burger {
    display: none;
  }
  .burger-links {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  nav {
    .burger {
      display: block;
    }
    .nav-links {
      display: none;
    }
    .burger:hover,
    .burger-links:hover {
      .burger-links {
        display: block;
        height: 8rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #f9f9f9d7;
        padding: 5rem 2rem;
        border-radius: 1rem;
        z-index: 10;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
        }

        a {
          text-decoration: none;
          color: #1b6bed;
          font-weight: 600;
          font-size: 1.5rem;
        }
      }
    }
  }
}
