@import "../variables";
html {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
body {
  font-size: 1rem;
  @media screen and (max-width: $big-tablet-scr) {
    font-size: 10px;
  }
}
