html {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  font-size: 16px;
}

@media screen and (max-width: 950px) {
  body {
    font-size: 10px;
  }
}
nav {
  margin: 0 auto;
  width: 70%;
  height: 4.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
}
nav .nav-links {
  display: flex;
  gap: 3rem;
}
nav .nav-links a {
  text-decoration: none;
  color: #1b6bed;
  font-weight: 600;
}
nav img {
  height: 15px;
}
nav .burger {
  display: none;
}
nav .burger-links {
  display: none;
}

@media screen and (max-width: 900px) {
  nav .burger {
    display: block;
  }
  nav .nav-links {
    display: none;
  }
  nav .burger:hover .burger-links {
    display: block;
    height: 8rem;
    position: absolute;
    top: 5rem;
    right: 15%;
  }
  nav .burger:hover .burger-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
  }
  nav .burger:hover .burger-links a {
    text-decoration: none;
    color: #1b6bed;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
footer {
  color: white;
  background-color: #11224d;
  padding-top: 4.4rem;
}
footer .footer_top {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 3.2rem;
}
footer .footer_top .footer_top_left {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}
footer .footer_top .footer_top_left img {
  color: #f8f6f6 !important;
  height: 30px;
}
footer .footer_top .footer_top_left .footer_top_left_down {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
}
footer .footer_top .footer_top_left .footer_top_left_down svg {
  border: 2px solid white;
  border-radius: 100%;
  padding: 7px;
  height: 24px;
}
footer .footer_top .footer_top_right {
  display: flex;
  color: #dcf2ed;
  gap: 5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
footer .footer_top .footer_top_right .footer_top_navigacija {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
footer .footer_top .footer_top_right .footer_top_navigacija a {
  text-decoration: none;
  color: #dcf2ed;
}
footer .footer_top .footer_top_right .footer_top_kontaktai {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
footer .footer_top .footer_top_right h3 {
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
}
footer .copyright {
  padding: 2.2rem 0;
  color: #dcf2ed;
  text-align: center;
  border-top: 1px dotted #dcf2ed;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3rem;
}

@media screen and (max-width: 900px) {
  footer .footer_top {
    justify-content: center;
  }
  footer .footer_top .footer_top_right {
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .footer_top .footer_top_right .footer_top_navigacija {
    align-items: center;
  }
  footer .footer_top .footer_top_right .footer_top_kontaktai {
    align-items: center;
  }
  footer .footer_top .footer_top_left {
    align-items: center;
  }
  footer .footer_top .footer_top_left .footer_top_left_down {
    align-items: center;
  }
}/*# sourceMappingURL=contacts.css.map */