html {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  font-size: 16px;
}
@media screen and (max-width: 950px) {
  body {
    font-size: 10px;
  }
}

nav {
  margin: 0 auto;
  width: 70%;
  height: 4.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
}
nav .nav-links {
  display: flex;
  gap: 3rem;
}
nav .nav-links a {
  text-decoration: none;
  color: #1b6bed;
  font-weight: 600;
}
nav img {
  height: 15px;
}
nav .burger {
  display: none;
}
nav .burger-links {
  display: none;
}

@media screen and (max-width: 900px) {
  nav .burger {
    display: block;
  }
  nav .nav-links {
    display: none;
  }
  nav .burger:hover .burger-links,
  nav .burger-links:hover .burger-links {
    display: block;
    height: 8rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(249, 249, 249, 0.8431372549);
    padding: 5rem 2rem;
    border-radius: 1rem;
    z-index: 10;
  }
  nav .burger:hover .burger-links ul,
  nav .burger-links:hover .burger-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  nav .burger:hover .burger-links a,
  nav .burger-links:hover .burger-links a {
    text-decoration: none;
    color: #1b6bed;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
.slider-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 450px;
  width: 100%;
  padding: 3rem 0;
  box-shadow: 0px 0px 20px rgba(122, 116, 116, 0.1);
  background: linear-gradient(to right, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%);
}
.slider-card .slider-card_text-box {
  margin: 0 auto;
  padding: 0 10px 0 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider-card .slider-card_text-box .category {
  color: #a6a6a6;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.slider-card .slider-card_text-box .about-object h3 {
  color: #4b4b4b;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 136.188%; /* 32.685px */
  text-transform: capitalize;
}
.slider-card .slider-card_text-box .about-object .place-marker {
  width: 14px;
  height: 17.769px;
}
.slider-card .slider-card_text-box .about-object .place-name {
  color: #666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 136.188%; /* 19.066px */
}
.slider-card .slider-card_text-box .about-object .description {
  margin-top: 20px;
  color: #888;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 148.188%; /* 20.746px */
}
.slider-card .slider-card_text-box .btn-wrap {
  border-radius: 24px;
  padding: 2px;
  background: linear-gradient(180deg, #00d4e4 -40.5%, #1f59ee 97.28%);
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
}
.slider-card .slider-card_text-box .btn-wrap .more-btn {
  padding: 1rem 2rem;
  border-radius: 24px;
  border: transparent;
  background-color: white;
  color: #1f59ee;
}
.slider-card .slider-card_text-box .btn-wrap .map-btn {
  padding: 1rem 2rem;
  border-radius: 24px;
  border: transparent;
  background-color: white;
  color: #1f59ee;
  display: flex;
  align-items: center;
}
.slider-card .slider-card_text-box .btn-wrap .map-btn svg {
  padding: 1px;
}
.slider-card .slider {
  position: relative;
  justify-self: start;
  width: 110%;
  z-index: 4;
}
.slider-card .slider .left-pic {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 45%;
  min-width: 300px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 15.586px;
  box-shadow: -8px 8px 42px 0px rgba(0, 0, 0, 0.25);
}
.slider-card .slider .right-pic {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  min-width: 300px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.5;
  z-index: 5;
  border-radius: 15.586px;
}
.slider-card .slider .under-pic {
  display: inline-block;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  z-index: 3;
}
.slider-card .slider .reserve-pic {
  display: none;
}
.slider-card .slider .left-control {
  width: 75px;
  height: 9px;
  position: absolute;
  bottom: -3rem;
  left: -50px;
  padding: 1rem;
}
.slider-card .slider .right-control {
  width: 75px;
  height: 9px;
  position: absolute;
  bottom: -3rem;
  left: 67px;
  padding: 1rem;
}
@keyframes fading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.slider-card .slider .make-fade {
  animation-name: fading;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.slider-card .slider .make-appear {
  animation-name: appearance;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes moving-left {
  0% {
    opacity: 0.4;
    right: 0;
    transform: rotate(-2deg);
    background-image: url("./pics/lt-veliava.jpeg");
    background-size: cover;
    padding-right: 5px;
  }
  8% {
    opacity: 0.6;
    left: 40%;
    padding-right: 5px;
  }
  99% {
    padding-right: 1px;
  }
  100% {
    opacity: 1;
    left: 0;
    padding-right: 0;
  }
}
.slider-card .slider .make-left-move {
  animation-name: moving-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes moving-left-from-0 {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  100% {
    left: -200px;
    opacity: 0;
  }
}
.slider-card .slider .make-left-move-from-0 {
  animation-name: moving-left-from-0;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes zero-to-right {
  0% {
    opacity: 1;
    transform: rotate(2deg);
    background-image: url("./pics/lt-veliava.jpeg");
    background-size: cover;
    padding-left: 5px;
  }
  8% {
    opacity: 0.7;
    transform: translate(70%);
    padding-left: 5px;
  }
  99% {
    padding-left: 1px;
  }
  100% {
    opacity: 0.5;
    transform: translate(100%);
    padding-left: 0;
  }
}
.slider-card .slider .move-right {
  animation-name: zero-to-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes moving-right-from-right {
  0% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    transform: translate(100%);
    opacity: 0;
  }
}
.slider-card .slider .make-right-move-from-right {
  animation-name: moving-right-from-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.slider-card .slider .map-outline {
  opacity: 0.4;
  position: absolute;
  top: -100px;
  z-index: -2;
}

@media screen and (max-width: 1350px) {
  .slider-card {
    width: 90vw;
    left: -10vw;
    padding: 5rem 0;
  }
  .slider-card .slider-card_text-box {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .slider-card .btn-section {
    display: none;
  }
  .slider-card .slider {
    grid-column: span 2;
    height: 350px;
    width: 90%;
    margin: 0 auto;
  }
  .slider-card .slider .map-outline {
    display: none;
    top: -50%;
    left: 10%;
    z-index: -3;
  }
}
@media screen and (max-width: 770px) {
  .slider-card {
    width: 98%;
    left: 0;
  }
  .slider-card .slider-card_text-box {
    margin-left: 0;
  }
  .slider-card .slider .left-pic {
    width: 100%;
    min-width: 10vw;
  }
  .slider-card .slider .right-pic {
    display: none;
  }
}
footer {
  color: white;
  background-color: #11224d;
  padding-top: 4.4rem;
}
footer .footer_top {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 3.2rem;
}
footer .footer_top .footer_top_left {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}
footer .footer_top .footer_top_left img {
  color: #f8f6f6 !important;
  height: 30px;
}
footer .footer_top .footer_top_left .footer_top_left_down {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
}
footer .footer_top .footer_top_left .footer_top_left_down svg {
  border: 2px solid white;
  border-radius: 100%;
  padding: 7px;
  height: 24px;
}
footer .footer_top .footer_top_right {
  display: flex;
  color: #dcf2ed;
  gap: 5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
footer .footer_top .footer_top_right .footer_top_navigacija {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
footer .footer_top .footer_top_right .footer_top_navigacija a {
  text-decoration: none;
  color: #dcf2ed;
}
footer .footer_top .footer_top_right .footer_top_kontaktai {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
footer .footer_top .footer_top_right h3 {
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
}
footer .copyright {
  padding: 2.2rem 0;
  color: #dcf2ed;
  text-align: center;
  border-top: 1px dotted #dcf2ed;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3rem;
}

@media screen and (max-width: 931px) {
  footer .footer_top {
    justify-content: center;
  }
  footer .footer_top .footer_top_right {
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .footer_top .footer_top_right .footer_top_navigacija {
    align-items: center;
  }
  footer .footer_top .footer_top_right .footer_top_kontaktai {
    align-items: center;
  }
  footer .footer_top .footer_top_left {
    align-items: center;
  }
  footer .footer_top .footer_top_left .footer_top_left_down {
    align-items: center;
  }
}
header {
  height: calc(100vh - 4.4rem);
  background-image: url("./pics/main-banner.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
header .statements-box {
  color: white;
  text-align: center;
}
header .statements-box h1 {
  font-size: 5.6rem;
  font-weight: 700;
}
header .statements-box h2 {
  font-size: 2.3rem;
  font-weight: 300;
  padding-top: 0.5rem;
}
header .statements-box button {
  margin-top: 2.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background: linear-gradient(180deg, #00d4e4 -40.5%, #1f59ee 97.28%);
  border: none;
  color: white;
}

.decor-top {
  position: relative;
  top: -184px;
  margin-left: calc(100vw - 640px);
}
@media screen and (max-width: 950px) {
  .decor-top {
    z-index: -1;
  }
}

.container {
  width: 70%;
  margin: 0 auto;
}
.container cite {
  display: flex;
  justify-content: space-around;
  line-height: 2rem;
  margin: 5rem 0 8rem 0;
}
.container cite::before {
  content: url("./pics/ri_double-quotes-r.svg");
}

.grey-bg {
  background-color: #f9f9f9;
  padding-bottom: 7rem;
}

.stats-box {
  position: relative;
  height: 100vh;
  background-image: url("./pics/neris.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 950px) {
  .stats-box {
    height: auto;
  }
}
.stats-box .decor-2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.stats-box .card-wrap {
  max-height: 80%;
  width: 70%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.stats-box .card-wrap .stats-card {
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: start;
  grid-template-areas: "text text a b" "text text c d";
  gap: 3rem;
}
@media screen and (max-width: 1350px) {
  .stats-box .card-wrap .stats-card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3r;
    grid-template-areas: "text text text text" " a b c d";
    gap: 1rem;
  }
}
@media screen and (max-width: 950px) {
  .stats-box .card-wrap .stats-card {
    padding: 1rem;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "text text" " a b" "c d";
    gap: 1rem;
    overflow-y: scroll;
  }
}
.stats-box .card-wrap .stats-card .text-wrap {
  align-self: center;
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.8rem;
  padding-right: 3rem;
}
.stats-box .card-wrap .stats-card .text-wrap h1 {
  color: #333;
  font-family: Plus Jakarta Sans;
  font-size: 2.25rem;
  font-weight: 700;
}
.stats-box .card-wrap .stats-card .text-wrap h2 {
  color: #888;
  font-family: Plus Jakarta Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.stats-box .card-wrap .stats-card .a-stat {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.stats-box .card-wrap .stats-card .a-stat .number {
  color: #1f59ee;
  font-family: Plus Jakarta Sans;
  font-size: 3rem;
  font-weight: 700;
  line-height: 120%; /* 60px */
}
.stats-box .card-wrap .stats-card .a-stat .legend {
  color: #333;
  /* H5 */
  font-family: Plus Jakarta Sans;
  font-size: 1.125rem;
  font-weight: 700;
}
.stats-box .card-wrap .stats-card .a-stat .explain-legend {
  color: #888;
  font-family: Plus Jakarta Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.container-full-w {
  position: relative;
}
.container-full-w .deco-rekomend-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.container-full-w .rekomendacijos {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-full-w .rekomendacijos h2 {
  margin-top: 5rem;
  margin-bottom: 4.5rem;
  align-self: flex-start;
  color: #262020;
  font-family: Plus Jakarta Sans;
  font-size: 2.25rem;
  font-weight: 700;
}
.container-full-w .rekomendacijos .thumbs {
  width: 100%;
  row-gap: 4rem;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-full-w .rekomendacijos .thumbs .img-w-caption {
  height: 282px;
  width: 282px;
  position: relative;
}
.container-full-w .rekomendacijos .thumbs .img-w-caption img {
  height: 282px;
  width: 282px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-full-w .rekomendacijos .thumbs .img-w-caption h3 {
  position: absolute;
  padding: 1rem;
  color: white;
  background: rgba(43, 43, 43, 0.7);
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 136.188%; /* 21.79px */
  text-transform: capitalize;
}
.container-full-w .rekomendacijos .deco-rekomend-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}/*# sourceMappingURL=styles.css.map */