@import "./variables";

@import "./components/page-settings";
@import "./components/navbar";
@import "./components/slider/slider";
@import "./components/footer";

header {
  height: calc(100vh - 4.4rem);
  background-image: url("./pics/main-banner.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  .statements-box {
    color: white;
    text-align: center;
    h1 {
      font-size: 5.6rem;
      font-weight: 700;
    }
    h2 {
      font-size: 2.3rem;
      font-weight: 300;
      padding-top: 0.5rem;
    }
    button {
      margin-top: 2.5rem;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      padding: 1rem 2rem;
      border-radius: 1.5rem;
      background: linear-gradient(180deg, #00d4e4 -40.5%, #1f59ee 97.28%);
      border: none;
      color: white;
    }
  }
}
.decor-top {
  position: relative;
  top: -184px;
  margin-left: calc(100vw - 640px);
}

.container {
  width: $container-width;
  margin: 0 auto;
  cite {
    display: flex;
    justify-content: space-around;
    line-height: 2rem;
    margin: 5rem 0 8rem 0;
  }
  cite::before {
    content: url("./pics/ri_double-quotes-r.svg");
  }
}
.grey-bg {
  background-color: #f9f9f9;
  //temporary
  padding-bottom: 100px;
}

.stats-box {
  position: relative;
  height: 100vh;
  background-image: url("./pics/neris.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .decor-2 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .card-wrap {
    height: 50%;
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .stats-card {
      padding: 5rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "text text a b"
        "text text c d";
      gap: 3rem;
      .text-wrap {
        padding-right: 5rem;
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.8rem;
        h1 {
          color: #333;
          font-family: Plus Jakarta Sans;
          font-size: 36px;
          font-weight: 700;
        }
        h2 {
          color: #888;
          font-family: Plus Jakarta Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
      }
      .a-stat {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .number {
          color: #1f59ee;
          font-family: Plus Jakarta Sans;
          font-size: 50px;
          font-weight: 700;
          line-height: 120%; /* 60px */
        }
        .legend {
          color: #333;

          /* H5 */
          font-family: Plus Jakarta Sans;
          font-size: 18px;
          font-weight: 700;
        }
        .explain-legend {
          color: #888;
          font-family: Plus Jakarta Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
      }
    }
  }
}
